body {
  font-family: Arial, sans-serif;
  background-color: #3b3a39;
  color: #c3c3c3;
}
.site-nav .page-link {
  color: #c3c3c3;
  font-weight: bold;
  line-height: 1.5;
}

.page-content .wrapper {
  border-left-width: 36px;
  border-left-style: solid;
}

h1,h2,h3 { margin-bottom: 0px;}

.post-title { font-size: 18pt; }
.post-title::before {
    content: '';
    display: inline-block;
    width: 36px; /* Set the width of the SVG */
    height: 36px; /* Set the height of the SVG */
    background-image: url('/assets/hoen_icon.svg');
    background-size: contain; /* Ensure the SVG scales properly */
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
  }
.post-content h1 { font-size: 16pt; }
.post-content h2 { font-size: 14pt; }
.post-content h3 { font-size: 12pt; }
.post-content p, div { font-size: 10pt;}

/* HOME VIEW */
body.home {
  background-color: white;
  color: #333;
}
.home .site-nav .page-link {
  color: #333;
}
.home .wrapper {
  border: none;
}

/* COLOR */
.basic_needs .site-title, .basic_needs .site-title:visited { color: #b4b4b4; }
.basic_needs .post-title { color: #b4b4b4; }
.basic_needs .wrapper { border-color: #b4b4b4; }

.managed_work .site-title, .managed_work .site-title:visited { color: #caafdd; }
.managed_work .post-title { color: #caafdd; }
.managed_work .wrapper { border-color: #caafdd; }

.effective_ownership .site-title, .effective_ownership .site-title:visited { color: #2282b1; }
.effective_ownership .post-title { color: #2282b1 }
.effective_ownership .wrapper { border-color: #2282b1; }

.flow .site-title, .sustaniability .site-title:visited { color: #5ebbd8; }
.sustaniability .post-title { color: #5ebbd8 }
.sustaniability .wrapper { border-color: #5ebbd8}

.flow .site-title, flow .site-title:visited { color: #ee7c01; }
.flow .post-title { color: #ee7c01; }
.flow .wrapper { border-color: #ee7c01; }
