body {
  font-family: Arial, sans-serif;
  background-color: #3b3a39;
  color: #c3c3c3;
}

.site-nav .page-link {
  color: #c3c3c3;
  font-weight: bold;
  line-height: 1.5;
}

.site-nav {
    float: left;
}

.page-content .wrapper {
  border-left-width: 36px;
  border-left-style: solid;
}

.home .wrapper {
  border: none;
}

h1,h2,h3 { margin-bottom: 0px;}

.post-title { font-size: 18pt; }
.post-title::before {
    content: '';
    display: inline-block;
    width: 36px; /* Set the width of the SVG */
    height: 36px; /* Set the height of the SVG */
    background-image: url('/assets/hoen_icon.svg');
    background-size: contain; /* Ensure the SVG scales properly */
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
  }
.post-content h1 { font-size: 16pt; }
.post-content h2 { font-size: 14pt; }
.post-content h3 { font-size: 12pt; }
.post-content p, div { font-size: 10pt;}
